.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
  
    list-style-type: none;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 12px 16px;
    opacity: 0;
    transform: translateY(-10px); /* Start above the normal position */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.clicked {
    display: block; /* Shows the menu when clicked */
    opacity: 1;
    transform: translateY(0); /* Bring it to its original position */
}

.dropdown-menu li {
    padding: 8px 12px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
}

.dropdown-menu li a:hover {
    background-color: #ddd; /* Light background on hover */
    color: #21cff1; /* Change text color on hover */
}


.dropdown-toggle {
    background-color: #21cff1; /* Button style */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background-color: #000000; /* Button hover effect */
}