/* Hero Section Styling */
.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .Featured-Item {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Optional */
  }
  
  .Featured-Item h1 {
    color: #333;
  }
  
  
  /* Carousel Styling (Optional) */
  .carousel-section {
    padding-top: 50px; /* Space between Hero Section and Carousel */
  }
  