.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-logo:hover {
  color: #f39c12;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: all 0.2s ease-out;
}

.nav-links:hover, .nav-links:focus {
  border-bottom: 4px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: transform 0.5s ease-in-out, opacity 0.3s ease;
  }

  .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transform: translateX(0);
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  }

  .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .nav-links:hover {
      background-color: #fff;
      color: #242424;
  }
}
